<html>
<head>
    <title>{% block title %}Async Worker{% endblock title %} | Async Django Test Project</title>
</head>
<body>
    <h1>Welcome to the async Django test project (with async workers).</h1>

    <p>
        <ul id="navigation">
            <li><a href="/">Home</a>
            <li><a href="/sync">Classic Sync View</a></li>
            <li><a href="/async">Async View</a></li>
        </ul>
    </p>

    <p>
        This is the version running <b>async Uvicorn workers in Gunicorn</b>. (like described in the <a href="https://www.uvicorn.org/deployment/" target="_blank">Uvicorn Deployment Documentation</a>) <br/>
        The server is started with something like this:
        <pre>
            gunicorn --worker-class uvicorn.workers.UvicornWorker asyncdjango.asgi:application
        </pre>
    </p>
    {% block main %}
    {% endblock main %}
</body>
</html>
