<html>
<head>
    <title>{% block title %}Sync Worker{% endblock title %} | Async Django Test Project</title>
</head>
<body>
    <h1>Welcome to the async Django test project (with sync workers).</h1>

    <p>
        <ul id="navigation">
            <li><a href="/">Home</a>
            <li><a href="/sync">Classic Sync View</a></li>
            <li><a href="/async">Async View</a></li>
        </ul>
    </p>

    <p>
        This is the version running the default <b>sync workers of Gunicorn</b>. <br/>
        The server is started with something like this:
        <pre>
            gunicorn asyncdjango.wsgi:application
        </pre>
    </p>
    {% block main %}
    {% endblock main %}
</body>
</html>
